<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="expo.modules.freedomforeground.FreedomForegroundService"
            android:foregroundServiceType="specialUse"
            android:exported="false" />

        <receiver
            android:name="expo.modules.freedomforeground.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
